<div class="container-fluid">
  <div class="row">
    <div class="col-12 btn-group-vertical" id="notetitles" role="group">
      {{#each notelist}}
      <a class="btn btn-lg btn-block btn-outline-dark" 
          href="/notes/view?key={{ key }}">{{ title }}</a>
      {{/each}}
    </div>
  </div>
</div>
{{> footerjs}}
<script src="/socket.io/socket.io.js"></script> 
<script> 
$(document).ready(function () { 
  var socket = io('/home'); 
  socket.on('notetitles', function(data) { 
    var notelist = data.notelist; 
    $('#notetitles').empty(); 
    for (var i = 0; i < notelist.length; i++) { 
      notedata = notelist[i]; 
      $('#notetitles') 
      .append('<a class="btn btn-lg btn-block btn-outline-dark" href="/notes/view?key='+notedata.key +'">'+ notedata.title +'</a>'); 
    } 
  }); 
}); 
</script> 